framework = net45
source https://www.nuget.org/api/v2/

nuget Accord  framework: >= net45
nuget Accord.MachineLearning  framework: >= net45
nuget Accord.Math  framework: >= net45
nuget Accord.Neuro  framework: >= net45
nuget Accord.Statistics  framework: >= net45
nuget AForge  framework: >= net45
nuget AForge.Genetic  framework: >= net45
nuget AForge.Math  framework: >= net45
nuget AForge.Neuro  framework: >= net45
nuget DynamicInterop 0.7.4 framework: >= net40
nuget FSharp.Core  framework: >= net45
nuget FSharp.Data 

nuget MBrace.Core ~> 1.5.2
nuget MBrace.Flow ~> 1.5.2
nuget MBrace.Thespian ~> 1.5.2
nuget MBrace.Runtime ~> 1.5.2
